@let id = state.comment()?.id;
@let status = state.status();
@let isYourOwnComment = state.isYourOwnComment();

<div
  [attr.data-cy]="'status: ' + status"
  role="group"
  aria-label="Comment actions"
  class="flex flex-row items-center justify-center gap-2"
>
  @if (status !== CommentStatus.SEND) {
    @if (isYourOwnComment) {
      <button
        class="text-preset-2-medium txt-pink-300 disabled:txt-pink-200 hover:txt-pink-400 active:txt-pink-400 focus-visible:txt-pink-400 justifify-center align-center flex items-center gap-1.5"
        aria-label="Delete comment"
        title="Delete comment"
        (click)="deleteAction()"
        [attr.data-cy]="'Delete comment id:' + id"
      >
        <svg width="11px" height="14px" aria-hidden="true">
          <use href="assets/images/icon-delete.svg#delete" />
        </svg>

        Delete
      </button>
    }
    @if (!isYourOwnComment) {
      <button
        class="text-preset-2-medium disabled:txt-purple-200 txt-purple-400 hover:txt-purple-600 active:txt-purple-600 focus-visible:txt-purple-600 justifify-center align-center flex items-center gap-1.5"
        aria-label="Reply to comment"
        title="Reply to comment"
        (click)="replyAction()"
        [attr.data-cy]="'Reply comment id:' + id"
      >
        <svg width="14px" height="13px" aria-hidden="true">
          <use href="assets/images/icon-reply.svg#reply" />
        </svg>
        Reply
      </button>
    }
    @if (isYourOwnComment) {
      <button
        [disabled]="status === CommentStatus.UPDATE"
        class="text-preset-2-medium disabled:txt-purple-200 txt-purple-400 hover:txt-purple-600 active:txt-purple-600 focus-visible:txt-purple-600 justifify-center align-center flex items-center gap-1.5 disabled:pointer-events-none"
        aria-label="Edit comment"
        title="Edit comment"
        (click)="editAction()"
        [attr.data-cy]="'Edit comment id:' + id"
      >
        <svg width="14px" height="14px" aria-hidden="true">
          <use href="assets/images/icon-edit.svg#edit" />
        </svg>

        Edit
      </button>
    }
  }
</div>
