<section
  class="comments align-items flex flex-col items-center justify-center gap-[16px] py-2 md:gap-[24px]"
>
  @for (comment of comments(); track comment) {
    <app-comment-card [comment]="comment" />

    @if (comment.replies && comment.replies!.length > 0) {
      <div
        class="comments-replies align-items flex flex-col items-center justify-center gap-[16px] md:gap-[24px]"
      >
        @for (reply of comment.replies; track reply) {
          <app-comment-card [comment]="reply" [isReply]="true" />
        }
      </div>
    }
  }
</section>
