@let status = state.status();
@let isYourOwnComment = state.isYourOwnComment();

@if (status !== CommentStatus.SEND) {
  @if (isYourOwnComment) {
    <button
      class="text-preset-2-medium txt-pink-400 justifify-center align-center flex items-center gap-1"
      aria-label="Delete comment"
      title="Delete comment"
      (click)="deleteAction()"
    >
      <img alt="" src="assets/images/icon-delete.svg" height="14" width="11" />
      Delete
    </button>
  }
  @if (!isYourOwnComment) {
    <button
      class="text-preset-2-medium txt-purple-600 justifify-center align-center flex items-center gap-1"
      aria-label="Reply to comment"
      title="Reply to comment"
      (click)="replyAction()"
    >
      <img alt="" src="assets/images/icon-reply.svg" height="14" width="13" />
      Reply
    </button>
  }
  @if (isYourOwnComment) {
    <button
      class="text-preset-2-medium txt-purple-600 justifify-center align-center flex items-center gap-1"
      aria-label="Edit comment"
      title="Edit comment"
      (click)="editAction()"
    >
      <img alt="" src="assets/images/icon-edit.svg" height="14" width="13" />
      Edit
    </button>
  }
}
