@let userComment = state.comment()?.user?.username;
@let currentUser = state.currentUser()?.username;

@let isYourOwnComment = userComment === currentUser;

<div class="comment-upvote" [ngClass]="hostClasses">
  <button
    [disabled]="isYourOwnComment || wasUpvoted === 1"
    class="text-preset-2 txt-purple-600 bg-grey-50 flex-center h-[24px] w-[20px]"
    [ngClass]="{ 'pointer-events-none': isYourOwnComment }"
    aria-label="Upvote comment"
    (click)="upvote(1)"
  >
    <img src="assets/images/icon-plus.svg" alt="" />
  </button>
  <span
    class="text-preset-2 txt-purple-600 bg-grey-50 flex-center h-[24px] w-[30px]"
    aria-live="polite"
    >{{ state.comment()?.score ?? 0 }}</span
  >
  <button
    [disabled]="isYourOwnComment || wasUpvoted === -1"
    class="text-preset-2 txt-purple-600 bg-grey-50 flex-center h-[24px] w-[20px]"
    [ngClass]="{ 'pointer-events-none': isYourOwnComment }"
    aria-label="Downvote comment"
    (click)="upvote(-1)"
  >
    <img src="assets/images/icon-minus.svg" alt="" />
  </button>
</div>
