:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --clr-grey-800: hsl(212, 24%, 26%);
  --clr-grey-500: hsl(211, 10%, 45%);
  --clr-grey-100: hsl(223, 19%, 93%);
  --clr-grey-50: hsl(228, 33%, 97%);

  --clr-purple-600: hsl(238, 40%, 52%);
  --clr-purple-200: hsl(239, 57%, 85%);

  --clr-pink-400: hsl(358, 79%, 66%);
  --clr-pink-200: hsl(357, 100%, 86%);

  --ff: 'Rubik', sans-serif;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --fs-100: 6.25rem;
  --fs-96: 6rem;
  --fs-80: 5rem;
  --fs-72: 4.5rem;
  --fs-56: 3.5rem;
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-32: 2rem;
  --fs-28: 1.75rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-13: 0.8125rem;
  --fs-12: 0.75rem;
  --fs-11: 0.6875rem;
}
