<div class="comment-ac txt-grey-500]">
  <form class="comment-ac__form form" [formGroup]="form">
    <textarea
      maxlength="500"
      class="form-textarea text-preset-2 txt-grey-800 h-[96px] w-full rounded-[8px] border border-gray-200 p-2 hover:border-gray-500 active:border-gray-500"
      formControlName="content"
      placeholder="Add a comment..."
    ></textarea>
  </form>

  <div class="comment-ac__avatar flex h-[48px] items-center">
    @if (state.currentUser()) {
      @let user = state.currentUser();

      <img
        class="h-[32px] w-[32px] md:h-[40px] md:w-[40px]"
        [src]="user?.image?.png"
        [alt]="'avatar of ' + user?.username"
      />
    }
  </div>

  <div class="comment-ac__actions flex h-[48px] flex-row-reverse items-center">
    <button
      [disabled]="!form.valid"
      type="button"
      class="comment-ac__btn txt-white text-preset-2-medium bg-starstruck flex-center inline-block h-[48px] w-[108px] rounded-[8px] hover:opacity-60 active:opacity-90 disabled:opacity-30"
    >
      @if (isTextSend) {
        Send
      }

      @if (isTextReply) {
        Reply
      }

      @if (isTextUpdate) {
        Update
      }
    </button>
  </div>
</div>
