.comment-card {
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  min-width: 343px;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  &__information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'header header header'
      'content content content'
      'upvote shortcut shortcut';
    gap: 16px;
  }

  &__update {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'header header header'
      'content content content'
      'upvote shortcut shortcut';
    gap: 16px;
  }

  &-header {
    grid-area: header;
  }

  &-content {
    grid-area: content;
  }

  &-upvote {
    grid-area: upvote;
  }

  &-shortcut {
    grid-area: shortcut;
  }

  &__reply {
    width: calc(100% - 16px);
  }

  @media screen and (min-width: 48em) {
    max-width: 684px;
    margin-left: auto;

    &__information {
      grid-template-columns: auto 1fr 1fr;
      grid-template-areas:
        'upvote header header shortcut'
        'upvote content content content';
      gap: 24px;
    }

    &__update {
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      grid-template-areas:
        'upvote header header shortcut'
        'upvote content content content';
      gap: 16px;
    }

    &__reply {
      width: calc(100% - 40px);
    }
  }
}
