@let status = state.status();
@let showContent = status === CommentStatus.INITIAL || status === CommentStatus.INFORMATION;
@let isSendOrReply = status === CommentStatus.SEND || status === CommentStatus.REPLY;

<article
  role="region"
  class="comment-card ml-auto self-stretch bg-white"
  [attr.aria-label]="'Comment by ' + state.comment()?.user?.username"
  [ngClass]="{
    'comment-card__information': showContent,
    'comment-card__reply': state.status() === CommentStatus.REPLY,
    'comment-card__update': state.status() === CommentStatus.UPDATE,
    'comment-card__send': state.status() === CommentStatus.SEND,
  }"
  [attr.aria-labelledby]="'comment-heading' + state.uniqueId()"
>
  @if (!isSendOrReply) {
    <app-comment-header class="comment-card-header" />
  }

  <app-comment-content
    (content)="updateContent($event)"
    class="comment-card-content"
    (cancel)="cancelEdit()"
  />

  @if (!isSendOrReply) {
    <app-comment-upvote
      [wasUpvoted]="store.getUpvote(id)"
      (updateVote)="upvote($event)"
      class="comment-card-upvote"
      classes="flex flex-row items-center w-fit md:flex-col md:gap-2"
    />
  }

  @if (!isSendOrReply) {
    <app-comment-shortcut
      (delete)="deleteAction()"
      (reply)="replyAction()"
      (edit)="editAction()"
      class="comment-card-shortcut flex flex-row items-center gap-2"
    />
  }
</article>
