<button
  class="text-preset-2-medium txt-pink-400 justifify-center align-center flex items-center gap-1"
  aria-label="Delete comment"
  title="Delete comment"
>
  <img alt="" src="assets/images/icon-delete.svg" height="14" width="11" />
  Delete
</button>
<button
  class="text-preset-2-medium txt-purple-600 justifify-center align-center flex items-center gap-1"
  aria-label="Reply to comment"
  title="Reply to comment"
>
  <img alt="" src="assets/images/icon-reply.svg" height="14" width="13" />
  Reply
</button>
<button
  class="text-preset-2-medium txt-purple-600 justifify-center align-center flex items-center gap-1"
  aria-label="Edit comment"
  title="Edit comment"
>
  <img alt="" src="assets/images/icon-edit.svg" height="14" width="13" />
  Edit
</button>
